<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kulart05gmail.lesson_1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Lessons.Lesson_8.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Lessons.Lesson_2.Lesson_2"
            android:label="@string/title_activity_lesson2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListLessons"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListHomeworks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeWorks.Homework_2.Homework_2"
            android:label="@string/title_activity_homework_2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Lessons.Lesson_1.Lesson_1"
            android:label="Lesson 1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Lessons.Lesson_3.Lesson_3"
            android:label="@string/title_activity_lesson_3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeWorks.Homework_3.Homework_3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Lessons.Lesson_4.Lesson_4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Lessons.Lesson_4.Lesson_4_1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Lessons.Lesson_4.Lesson_4_3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListOther"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Lessons.Lesson_5.Lesson_5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Other.GeoQuiz.QuizActivity"
            android:label="@string/title_activity_quiz"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeWorks.Homework_5.Homework_5_1.helper.MainActivity"
            android:label="@string/title_activity_homework_5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeWorks.Homework_5.Homework_5_2.RecyclerViewActivity"
            android:label="@string/title_activity_homework_5_2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HomeWorks.Homework_5.Homework_5_2.CardViewActivity" />
        <activity
            android:name=".Lessons.Lesson_6.Lesson_6"
            android:label="@string/title_activity_lesson_6"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".Lessons.Lesson_6.MBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Lessons.Lesson_6.Lesson_6_1.Lesson_6_1"
            android:label="@string/title_activity_lesson_6_1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeWorks.Homework_6.Homework_6"
            android:label="@string/title_activity_homework_6"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeWorks.Homework_6.Homework_6_1"
            android:label="@string/title_activity_homework_6_1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeWorks.Homework_6.Homework_6_2"
            android:label="@string/title_activity_homework_6_3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeWorks.Homework_6.Homework_6_3"
            android:label="@string/title_activity_homework_6_3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Lessons.Lesson_7.Lesson_7"
            android:label="@string/title_activity_lesson_7"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".Lessons.Lesson_7.MyService" />
        <service android:name=".Lessons.Lesson_7.MyIntentService" />
        <service
            android:name=".HomeWorks.Homework_7.MService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".HomeWorks.Homework_7.Homework_7"
            android:label="@string/title_activity_homework_8"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Lessons.Lesson_8.ui.activities.Lesson_8"
            android:label="@string/title_activity_lesson_8"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListStartAndroid"
            android:label="@string/title_activity_list_start_android"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartAndroid.Lesson_52_SimpleCursorAdapter.SimpleCursorAdapter"
            android:label="@string/title_activity_simple_cursor_adapter"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
